html,

body {
  margin: 0;
  padding: 0;
  background-color: #CEE3F6; 
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

div {
	height: 300;
    -webkit-animation-direction: alternate; 
    animation-direction: alternate;
}
nav {
	padding-top: 10px;
    padding-bottom: 10px; 
    width: 100%;
    z-index: 1050;
    webkit-box-shadow: 2px 10px 5px 0px rgba(230, 205, 230, 1);
   -moz-box-shadow: 2px 10px 5px 0px rgba(230, 205, 230, 1);
   /* box-shadow: 2px 5px 5px 0px #333; */
}
	
aside{ 
  float: right;
  width: 25%;
  background-color:#CEE3F6 ; 

  
}




article {
  
   display: inline-block;
   width: 22%;
   height: 320;
   border-style: groove;
   padding-left:25;
}

section {
	height: 400;	
	background-color: white;
}



h4{	
	text-align: center;
	 font-family: "TrebuchetMS", Times, serif;
}


h1{	
	text-align: center;
	 font-family: "TrebuchetMS", Times, serif;
}


h2{	
	text-align: center;
	 font-family: "TrebuchetMS", Times, serif;
}


h3{	
	text-align: center;
	 font-family: "TrebuchetMS", Times, serif;
}
p {
    font-family: "TrebuchetMS", Times, serif;
	height: 300;
}

img {
	padding-left: 20;
}

